<div class="container">
    <h4 class="">Welcome to Bookflix!</h4>
    <p>Bookflix is an online library for borrowing and reading books. You can browse all categories via 
        the “library” tab and view all the books our site offers, without the requirement of signing up.
        However, if you want to borrow a book, you must first sign up by clicking “sign up” rightmost side 
        of your screen. Registering is easy and setting up your accoun takes only a few seconds.         
    </p>
    <h4 class="">User account policy</h4>
    <p>Your account is private. Nobody else can view it but you. There is currently no way to interact 
        with other users. If you choose to register to our site, you must abide by our user account policy. 
        Your username must not contain offensive language. If our team spots such a username, your account 
        will be deleted and you will be informed through an email. 
        <br /> If you wish to delete your account, you can request it through an email. Our team will remove 
        it from the servers and inform about it        
    </p>
    <h4 class="">Borrowing books</h4>
    <p>In order to borrow a book, you must be logged in. If you don’t have an account yet, head over to 
        “sign up” to create one. Once you’re logged in, click on a book to view its details. Press the 
        “Book Now” button to borrow the book. After the book is borrowed, the option to read it becomes 
        available. Click on “Read Book” to read it in your browser. If you no longer want to borrow 
        the book, you can return it by pressing the “Return Book” button. 
        <br />Borrowing a book lasts for 30 days. You can view, read or return your borrowed books in your profile, 
        along with the day you must return them.             
    </p>
    <h4 class="">Adding books to favorites</h4>
    <p>Our site provides you with the option of adding books to your favorites. This way, you can view them 
        in your profile and borrow them when needed. In order to add a book to your favorites, click on a 
        book you like to view its details. You’ll notice an empty heart at the bottom of the book’s cover on 
        the left of your screen. Click on the heart to add it to your favorites. The icon will turn into a 
        full heart. Click it again to remove the selected book from your favorites. Alternatively, you can 
        remove it through your profile.       
    </p>
    <h4 class="">Staying in touch</h4>
    <p>If you have any more inquires, feel free to send us an email. Our team will be more than welcome 
        to answer your questions! We hope you have a great time reading books in our site!
        <br />~ By team Bookflix
         </p>
</div>