<div class="container contact-form background-colors">
    <div class="contact-image">
        <i class="fa fa-envelope fa-3x color-white"> </i>
    </div>
    <form>
        <h3>Get in touch</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control form-colors" placeholder="Name..." value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control form-colors" placeholder="Email..."
                        value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control form-colors" placeholder="Phone Number..."
                        value="" />
                </div>
                <div class="form-group">
                    <button type="submit" name="btnSubmit" class="btnContact form-colors">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send Message</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control form-colors" placeholder="Your Message..."
                        style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>