<div class="container" style="background: #e5eef4;">
    <section id="#tabs-library">
        <h6 class="section-title h1">Categories</h6>
        <div class="">
            <nav>
                <div class="nav nav-library nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-fiction-tab" data-toggle="tab" href="#nav-fiction"
                        role="tab" aria-controls="nav-fiction" aria-selected="true">
                        Genre Fiction
                    </a>
                    <a class="nav-item nav-link" id="nav-non-gen-fiction-tab" data-toggle="tab"
                        href="#nav-non-gen-fiction" role="tab" aria-controls="nav-non-gen-fiction"
                        aria-selected="false">
                        Non-Genre Fiction
                    </a>
                    <a class="nav-item nav-link" id="nav-non-fiction-tab" data-toggle="tab" href="#nav-non-fiction"
                        role="tab" aria-controls="nav-non-fiction" aria-selected="false">
                        Non-Fiction
                    </a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-fiction" role="tabpanel"
                    aria-labelledby="nav-fiction-tab">
                    <div class="row">
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/action_&_adventure">Adventure</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/humor">Comedy</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/fantasy">Fantasy</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/historical_fiction">Historical Fiction</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/horror">Horror</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/mystery_and_detective_stories">Mystery</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/romance">Romance</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/science_fiction">Science Fiction</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/thriller">Thriller</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-non-gen-fiction" role="tabpanel"
                    aria-labelledby="nav-non-gen-fiction-tab">
                    <div class="row">
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/accessible_book">Classics</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/comics">Comics</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/contemporary">Contemporary</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/literary">Literary</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/manga">Manga</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/picture_books">Picture Books</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/poetry">Poetry</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/short_stories">Short Stories</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/young_adult_fiction">Young Adult</a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-non-fiction" role="tabpanel" aria-labelledby="nav-non-fiction-tab">
                    <div class="row">

                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/biography">Biography</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/business">Business</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/cookbooks">Cookbook</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/crafts">Crafts</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/addresses_essays_lectures">Essay</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/life_skills_guides">Guide</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/modern_philosophy">Philosophy</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/spiritual_life">Spiritual</a>
                        </div>
                        <div class="col-md-4 col-xs-12   text-center card-subject">
                            <i class="fa fa-angle-right"> </i>
                            <a href="#!/bookList/textbooks">Textbook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<script>
    $('.nav-library a:first').tab('show');

    $('.nav-library a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>