<div class="bckImage">
    <div ng-controller="userController" ng-init="logout()" class="container">
        <a href="#!/home"> Back</a>
        <div class="login-form col-md-4 col-sm-4 offset-md-4">
            <img src="images/avatar.png" class="avatar" />
            <h2 class="title">Bookflix </h2>
            You have been logged out.
        </div>

    </div>
    <div class="justify-content-center" ng-hide="true">
        <div class="version">
            <small> Bookflix | v.0 0 1 </small>
        </div>
    </div>
</div>